<h4 class="text-center">Login</h4>

<!-- formGroup -> leva os dados deste formulário para variável formularioDeLogin no componente. -->
<form [formGroup]="formularioDeLogin" class="form mt-4 container" (submit)="login()">

	<div class="form-group">
		<!-- formControlName é associado com nome presente no formBuilder -->
		<input #varDeTemplateDoInputNome formControlName="nomeUsuario" class="form-control"
			placeholder="Nome do usuário" autofocus>

		<!-- formularioDeLogin.get('nomeUsuario').errors.**nomeValidacao** = nome da validação especificada no formBuilder, neste caso required.-->
		<!-- interrogação é usado para informar que talvez não exista o atributo -->
		<ap-msg-validacao *ngIf="formularioDeLogin.get('nomeUsuario').errors?.required"
			detalhes="O nome do usuário é obrigatório"></ap-msg-validacao>
	</div>

	<div class="form-group">
		<input formControlName="senha" type="password" class="form-control" placeholder="Senha">
		<ap-msg-validacao *ngIf="formularioDeLogin.get('senha').errors?.required" detalhes="A senha é obrigatória">
		</ap-msg-validacao>
	</div>

	<!-- desabilita o botão caso exista algum dado inválido no formulário. -->
	<button [disabled]="formularioDeLogin.invalid" type="submit" class="btn btn-primary btn-block">Entrar</button>

</form>

<p class="text-center mt-4">Não tem uma conta?<a> Crie sua conta agora.</a></p>