.relativo-modal {
	position: relative;
}

.modal-background-escuro {
	background-color: #00000085;
    width: 100%;
	height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
	display: none;
}

.modal-simples {
	background-color: white;
    z-index: 2;
    padding: 15px;
    border-radius: 5px;
}