<header class="fixed-top">
	<nav class="navbar navbar-light bg-white">
		<a class="navbar-brand">ALURAPIC</a>

		<!-- 
			Se não tiver um usuário, será chamado o ng-template com a variável de templade 'login'.

			(user$ | async) as usuário, é usado para receber o valor do Observable, este valor é atribuído à variável 'usuario'.
			o pipe async faz o unsubcribe automaticamente.
		 -->
		<div *ngIf="(user$ | async) as usuario; else login">
			<a> {{ usuario.name.toUpperCase() }} </a>
			<i aria-hidden="true" class="fa fa-user-circle mr-4"></i>
			<a (click)="logout()" href="#">SAIR</a>
		</div>

		<!-- template com variável 'login' -->
		<ng-template #login>
			<span class="navbar-text">
				<!-- 
					O uso do href faz com que a página seja atualizada, substituímos ele por um routerLink,
					o routerLink usa a mesma estrutura de array do router.navegate([]).
				-->
				<a [routerLink]="['/']">
					Por favor, faça login.
				</a>
			</span>
		</ng-template>
	</nav>
	<div class="fixed-top">
		<ap-alert></ap-alert>
	</div>
</header>